
@{
    ViewData["Title"] = "Contactus";
    Layout = "~/Views/Shared/Template.cshtml";
}

<br />


<br />

<br />
<@*h1 class="top"></h1>
<div class="col">
    <div class="card " style="width: 96rem;">
        <div class="card-body">
            <h1 style="color:black;font-family:'Times New Roman'" class="card-title" align="center">Contact Us</h1>
            <br />
            <div class="container">
                <div class="row row-cols-3 row-cols-md-3">
                    <div class="icons" align="center">



                        <i class='bx bx-phone-call bx-lg'></i>
                        <h5 style="color:gray">BY PHONE</h5>
                        <p class="desc" style="font-size:27px">
                            <b>
                                <small>(Monday to Sunday, 9am to 10pm)</small>
                                <br />
                                Akash:<br />
                                +91 9038563213
                                <br /><br />
                                Sushmitha:<br />
                                +91 8974568869
                            </b>
                        </p>




                    </div>





                    <div class="icons" align="center">



                        

                        <i class='bx bxs-business bx-lg'></i>
                        <h5 style="color:gray">Hotel</h5>
                        <p class="desc" style="font-size:27px">



                            <a href="https://www.google.com/maps/place/Kengeri+Satellite+Town,+Bengaluru,+Karnataka">
                            <b>
                               Dream Desert Hotel<br />
                                2642, 35, Mysore Rd<br />
                                opp. R. V. College of Engineerin<br />
                                Mutharayana Nagar, Kengeri Satellite Town<br />
                                Bengaluru, Karnataka <br />
                                560059<br />
                            </b>
                            </a>
                        </p>






                    </div>


                    <div class="icons" align="center">





                        <i class='bx bx-mail-send bx-lg'></i>
                        <h5 style="color:gray">Write To Us</h5>
                        <p class="desc" style="font-size:27px">
                            <b>
                                dreamdesert@wipfli.com<br />
                            </b>
                            <b>
                                akash@wipfli.com<br />
                            </b>
                            <b>
                                sushmitha@wipfli.com<br />
                            </b>
                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

*@
<!--Section: Contact v.2-->
<section class="mb-4">

    

    <div class="row">
        <h1 style="align-content:center">Contact us </h1>
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

               
                 <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>

                            <a href="https://www.google.com/maps/place/Kengeri+Satellite+Town,+Bengaluru,+Karnataka"><p>Bengaluru, Karnataka </p>   </a>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>Dreamdesert@gmail.com.com</p>
                </li>
            </ul>
        </div>
            </form>

            <div class="text-center text-md-left">
                
            </div>
           
        </div>
        <!--Grid column-->

        <!--Grid column-->
       @* <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>

                            <a href="https://www.google.com/maps/place/Kengeri+Satellite+Town,+Bengaluru,+Karnataka"><p>Bengaluru, Karnataka </p>   </a>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>Dreamdesert@gmail.com.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column*@

    </div>

</section>
<!--Section: Contact v.2-->